<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Pattern -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %clr(%5level) [%15.15t] [%X{traceId}] %clr(%-40.40logger{39}){cyan} : %m%n%ex"/>

    <!-- Loki URL. 환경에 맞게 설정 필요.... -->
    <property name="LOKI_URL" value="${LOKI_URL:-http://localhost:3100/loki/api/v1/push}" />
<!--    <property name="LOKI_URL" value="${LOKI_URL:-http://loki:3100/loki/api/v1/push}" />-->

    <!-- 콘솔 앱랜더 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 파일 앱렌더 -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/App.log</file> <!-- 로그 파일 경로 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Loki Appender -->
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${LOKI_URL}</url>
        </http>
        <format>
            <label>
                <pattern>app=my-app,host=${HOSTNAME}</pattern>
            </label>
            <message class="com.github.loki4j.logback.JsonLayout" />
        </format>
    </appender>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
<!--            <appender-ref ref="FILE"/>-->
<!--            <appender-ref ref="LOKI"/>-->
        </root>

        <logger additivity="false" level="DEBUG" name="com.sparta.product">
            <appender-ref ref="CONSOLE"/>
<!--            <appender-ref ref="FILE"/>-->
<!--            <appender-ref ref="LOKI"/>-->
        </logger>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
<!--            aws 등에서 파일 생성 시 특정 디렉토리 접근 권할 설정 필요-->
<!--            <appender-ref ref="FILE"/>-->
<!--            <appender-ref ref="LOKI"/>-->
        </root>

        <logger additivity="false" level="INFO" name="com.sparta.product">
            <appender-ref ref="CONSOLE"/>
<!--            aws 등에서 파일 생성 시 특정 디렉토리 접근 권할 설정 필요-->
<!--            <appender-ref ref="FILE"/>-->
<!--            <appender-ref ref="LOKI"/>-->
        </logger>
    </springProfile>

</configuration>



